<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>webpack practice - contactUs</title>
  <meta http-equiv="X-UACompatible" content="ie=edge">
  <meta name="keywords" content="webpack multi page">
</head>

<body id="contractUsBody">
  <div id="headerWrapper"></div>
  <div id="contentWrapper">
    <div class="content1200 clear">
      <div class="aside left">
        <ul class="companyList" id="companyList"></ul>
      </div>
      <div class="companyInfo left">
        <div class="mapBox">
          <div id="mapContent"></div>
        </div>
        <ul class="companyText clear">
          <li>
            <h3>公司名称</h3>
            <p id="companyName"></p>
          </li>
          <li>
            <h3>电子邮箱</h3>
            <p id="companyEmail"></p>
          </li>
          <li>
            <h3>详细地址</h3>
            <p id="companyAddress"></p>
          </li>
          <li>
            <h3>联系电话</h3>
            <p id="companyTel"></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footerWrapper"></div>
  <script src="https://api.map.baidu.com/api?v=2.0&ak=c5My8CEPy3kGd4OWqYtXvxkunAZQ9mgV"></script>
</body>

</html>