#contentWrapper {
  padding: 1rem 0 .8rem;
  background-image: url('../images/4news/10_news_big.png');
  background-position: top center;
  background-attachment: fixed;
  .content1200 {
    .newsWrapper {
      margin-top: 0.48rem;
      .currentNews {
        width: 7.68rem;
        margin-right: 0.64rem;
        h1.position {
          padding: .15rem 0 .15rem .24rem;
          margin-bottom: .8rem;
          background-color: #faf1e6;
          font-size: .16rem;
          a {
            color: #e6b980;
          }
        }
        .newsHeader {
          h1.newsTitle{
            line-height: 1.733;
            margin: -.11rem 0;
            font-family: 'MicrosoftYaHei-Bold';
            font-weight: bold;
            font-size: .28rem;
          }
          .newsDate{
            padding: .24rem 0;
            font-family: 'SourceHanSansCN-Regular';
            font-size: .12rem;
            color: #999;
          }
        }
        .newsContent{
          margin-bottom: .8rem;
          h4{
            margin-bottom: 0.4rem;
            font-size: .14rem;
            font-weight: bold;
          }
          p{
            margin: -.07rem 0 .33rem;
            font-size: .14rem;
            line-height: 1.85;
            text-indent: 2em;
            text-align: justify;
            &.onImgP, &:last-child{
              margin-bottom: -.07rem;
            }
            &.noTextIndent{
              text-indent: 0;
            }
            span{
              display: inline-block;
              vertical-align: top;
            }
            &.twoColumnText{
              > span{
                display: inline-block;
                width: 50%;
                &:first-child{
                  padding-right: .12rem;
                }
                &:not(:first-child){
                  padding-left: .12rem;
                }
              }
            }
          }
          .imgWrapper{
            margin: .24rem 0;
            font-size: 0;
            text-align: center;
            img{
              width: 100%;
            }
            > span{
              display: block;
              margin-top: .24rem;
              margin-bottom: .16rem;
              font-size: .14rem;
              text-align: center;
            }
            &.twoPic{
              img{
                width: 50%;
              }
            }
          }
        }
      }
      .otherNews {
        position: fixed;
        right: 50%;
        margin-right: -6rem;
        width: 3.68rem;
        padding: .48rem .24rem;
        background: rgba($color: #e6b980, $alpha: .2);
        h3{
          margin-bottom: 0.3rem;
          font-size: .16rem;
          color: #e6b980;
        }
        a:hover{
          h3, h4{
            text-decoration: underline;
          }
        }
        div.up{
          margin-bottom: 0.155rem;
          h4{
            font-size: .16rem;
            line-height: 1.77;
            margin: -.06rem 0 .18rem;
            font-family: 'MicrosoftYaHei-Bold';
            font-weight: bold;
          }
          p{
            font-size: .14rem;
            line-height: 1.75;
            margin: -.06rem 0 0;
            padding-bottom: .18rem;
            color: #999;
            border-bottom: 1px dashed #e6b980;
          }
        }
        .bottom{
          li{
            font-size: .14rem;
            line-height: 1.8125;
            margin-bottom: .12rem;
            &:last-child{
              margin-bottom: -.065rem;
            }
            a{
              color: #666666;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
        .left, .right{
          float: none;
        }
      }
    }
    .paging{
      ul{
        li{
          &:first-child{
            margin-bottom: 0.24rem;
          }
          &.disabled{
            a{
              cursor: not-allowed;
              span{
                color: #d6d6d6;
                &.title:hover{
                  color: #d6d6d6;
                }
              }
            }
          }
          a{
            color: #999999;
            span.title{
              &:hover{
                color: #333333;
              }
              .left, .right{
                float: none;
              }
              .left{
                margin-right: 1em;
              }
            }
          }
        }
      }
    }
  }
}

// 企业文化详情部分
#contentWrapper.cultureDetailWrapper{
  .content1200{
    .newsWrapper{
      .otherCulture{
        padding: .48rem .24rem .24rem;
        text-align: center;
        ul.list{
          text-align: left;
          .left{
            float: left;
          }
          .right{
            float: right;
          }
          li.item{
            margin-bottom: 0.22rem;
            padding-bottom: .28rem;
            border-bottom: dashed 1px #e6b980;
            a{
              display: inline-block;
              width: 100%;
              h3{
                min-height: .6rem;
                line-height: 1.722;
                margin: -.065rem 0 .175rem;
                color: #333333;
              }
              p{
                line-height: 1;
                span.date{
                  font-size: .14rem;
                  color: #999;
                }
                img{
                  position: relative;
                  top: .04rem;
                }
              }
            }
          }
        }
        button{
          padding: .1rem .32rem;
          border-radius: .2rem;
          border: solid 1px #e6b980;
          background: none;
          font-size: .16rem;
          line-height: 1;
          color: #e6b980;
        }
      }
    }
  }
}