<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>webpack practice - news detail</title>
	<meta http-equiv="X-UACompatible" content="ie=edge">
	<meta name="keywords" content="webpack multi page">
</head>

<body>
	<div id="headerWrapper"></div>
	<div id="contentWrapper">
		<div class="content1200">
			<div class="newsWrapper clear">
				<div class="left currentNews">
					<h1 class="position">
						您的位置：<a href="./news.html">新闻动态</a> >> 详情
					</h1>
					<div class="newsHeader">
						<h1 id="newsTitle" class="newsTitle clear"></h1>
						<div id="newsDate" class="newsDate"></div>
					</div>
					<div id="newsContent" class="newsContent"></div>
				</div>
				<div class="right otherNews">
					<h3>其它新闻</h3>
					<div class="up">
						<a href="javascript:;">
							<h4></h4>
							<p></p>
						</a>
					</div>
					<ul class="bottom">
						<li><a href="javascript:;"></a></li>
						<li><a href="javascript:;"></a></li>
					</ul>
				</div>
			</div>
			<div class="paging">
				<ul>
					<li id="previousPage" class="disabled">
						<a href="">上一篇：<span class="title"></span></a>
					</li>
					<li id="nextPage">
						<a href="">下一篇：<span class="title"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footerWrapper"></div>
</body>

</html>