<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>webpack practice - news</title>
  <meta http-equiv="X-UACompatible" content="ie=edge">
  <meta name="keywords" content="webpack multi page">
</head>

<body>
  <div id="headerWrapper"></div>
  <div id="contentWrapper">
    <div class="content1200">
      <div class="swiper-container">
        <div class="swiper-wrapper"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  <div id="footerWrapper"></div>
</body>

</html>